@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Mukta:700");

.behindParticles {
  /* background-color: #88CDFF; */
  /* background-image: linear-gradient(135deg,#e58c12, #1436f0) ; */
  background-image: linear-gradient(-45deg, var(--primary-color), var(--primary-colorDark), var(--secondary-color), var(--aqua));
  background-size: 600%;
  -webkit-animation: anime 9s linear infinite;
  animation: anime 9s linear infinite;
  transition: all .2s ease-in-out;
  z-index: -2;
  min-height: 100vh;
  max-width: 100vw !important;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -90;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutParagraph {
  font-size: 22px;
  width: 80%;
  color: rgba(240, 248, 255, 0.822);
}

@media screen and (max-width: 768px) {

  /* Your CSS rules for screens with 768 pixels or less width */
  .MainLogo {
    padding-top: 4rem;
  }
  .LogoImage{
    width: 40%
  }
  .my-order-md-first {
    order: -1 !important
  }
}@media screen and (max-width: 1278px) {
  .typer {
    line-height: 1.2em;
    /* Adjust the value as needed */
    min-height: 2.4em;
    /* 1.2em (line-height) * 2 (lines) = 2.4em */
    overflow: hidden;
    /* Optional: hide overflow content */
  }
}
@media screen and (max-width: 600px) {
  .typer {
    min-height: 3.6em;  /* Adjust based on your new line-height */
  }
}

@media screen and (max-width: 1278px) {
  .typer {
    line-height: 1.2em;
    /* Adjust the value as needed */
    height: 2.4em;
    /* 1.2em (line-height) * 2 (lines) = 2.4em */
    overflow: hidden;
    /* Optional: hide overflow content */
  }
}

.customBg {

  background-image: linear-gradient(-45deg, var(--primary-color), var(--primary-colorDark), var(--secondary-color), var(--aqua));
  background-size: 600%;
  -webkit-animation: anime 9s linear infinite;
  animation: anime 9s linear infinite;
  transition: all .2s ease-in-out;
}

@keyframes anime {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

#tsparticles canvas {
  max-height: 100vh !important;
  max-width: 100vw !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  /* z-index: -1; */
  /* background-color: red; */
}

@font-face {

  font-family: Kopius;
  src: url(../css/Kopius-Light.otf)
}

.merienda {
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.kopius {
  font-family: Kopius;
  letter-spacing: .8rem;
}

.MainLogo {
  width: 100%;
  padding-bottom: 2rem;
}

.bgText {
  font-size: 4em;
}



/* flip button */

.btn-flip {
  opacity: 1;
  outline: 0;
  color: #fff;
  line-height: 40px;
  position: relative;
  text-align: center;
  letter-spacing: 1px;
  display: inline-block;
  text-decoration: none;
  font-family: "Open Sans";
  text-transform: uppercase;
}
.btn-flip:hover:after {
  opacity: 1;
  transform: translateY(0) rotateX(0);
}
.btn-flip:hover:before {
  opacity: 0;
  transform: translateY(50%) rotateX(90deg);
}
.btn-flip:after {
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  color: #323237;
  display: block;
  transition: 0.5s;
  position: absolute;
  padding: 15px 0px;
  background: #ccccce;
  content: attr(data-back);
  transform: translateY(-50%) rotateX(90deg);
}
.btn-flip:before {
  top: 0;
  left: 0;
  opacity: 1;
  color: #adadaf;
  display: block;
  padding: 15px 30px;
  line-height: 40px;
  transition: 0.5s;
  position: relative;
  background: #323237;
  content: attr(data-front);
  transform: translateY(0) rotateX(0);
}
/* flip button */

/* Learn button */

.learnBTN {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
.learnBTN.learn-more {
}
.learnBTN.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #fff;
  border-radius: 1.625rem;
}
.learnBTN.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #282936;
}
.learnBTN.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.learnBTN.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #282936;
  border-right: 0.125rem solid #282936;
  transform: rotate(45deg);
}
.learnBTN.learn-more .learnBTN-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 26px;
  /* right: 0; */
  bottom: 0;
  margin: 0 0 0 1.85rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
.learnBTN:hover .circle {
  width: 100%;
}
.learnBTN:hover .circle .icon.arrow {
  background: #282936;
  transform: translate(1rem, 0);
}
.learnBTN:hover .learnBTN-text {
  color: #282936;
}
.learnBTN-text{
  display: flex;
  align-items: center;
}
  #container {
    width: 17rem !important;
    padding-bottom: 2rem;
  }
/* Learn button */